.page__container._container
  aside.page__side
    nav.page__menu.menu-page
      .menu-page__content
        .menu-page__header
          .menu-page__title Каталог товаров
          .menu-page__burger
            .menu-page__lines
              span
              span
              span
        .menu-page__body
          ul.menu-page__list
            li.menu-page__parent
              a(href="#").menu-page__link Беговые дорожки
              .menu-page__submenu.submenu-page
                .submenu-page__item
                  ul.submenu-page__menu
                    li
                      a.submenu-page__link(href="#") Всепогодный
                    li
                      a.submenu-page__link(href="#") Для помещений
                    li
                      a.submenu-page__link(href="#") Профессиональный
                    li
                      a.submenu-page__link(href="#") Любительский
                  .submenu-page__product
                    .item-product
                      .item-product__labels
                      a.item-product__image(href="#")
                        img(src="images/products/01.png", alt="Тенисный стол. Зеленый")
                      .item-product__body
                        a.item-product__title(href="#") Домашний теннисный стол Donic Indoor Roller 800 Green
                        .item-product__footer
                          a.item-product__add(href="#")
                          .item-product__price.rub 64 990
            li.menu-page__parent
              a(href="#").menu-page__link Эллиптические тренажеры
              .menu-page__submenu.submenu-page
                .submenu-page__item
                  ul.submenu-page__menu
                    li
                      a.submenu-page__link(href="#") Всепогодный
                    li
                      a.submenu-page__link(href="#") Для помещений
                    li
                      a.submenu-page__link(href="#") Профессиональный
                    li
                      a.submenu-page__link(href="#") Любительский
                  .submenu-page__product
                    .item-product
                      .item-product__labels
                        .item-product__label Товар дня
                      a.item-product__image(href="#")
                        img(src="images/products/01.png", alt="Тенисный стол. Зеленый")
                      .item-product__body
                        a.item-product__title(href="#") Домашний теннисный стол Donic Indoor Roller 800 Green
                        .item-product__footer
                          a.item-product__add(href="#")
                          .item-product__price.rub 64 990
            li
              a(href="#").menu-page__link Велотренажеры
            li
              a(href="#").menu-page__link Гребные тренажеры
            li
              a(href="#").menu-page__link Вибромассажеры
            li.menu-page__parent
              a(href="#").menu-page__link Теннисные столы
              .menu-page__submenu.submenu-page
                .submenu-page__item
                  ul.submenu-page__menu
                    li
                      a.submenu-page__link(href="#") Всепогодный
                    li
                      a.submenu-page__link(href="#") Для помещений
                    li
                      a.submenu-page__link(href="#") Профессиональный
                    li
                      a.submenu-page__link(href="#") Любительский
                  .submenu-page__product
                    .item-product
                      .item-product__labels
                      a.item-product__image(href="#")
                        img(src="images/products/01.png", alt="Тенисный стол. Зеленый")
                      .item-product__body
                        a.item-product__title(href="#") Домашний теннисный стол Donic Indoor Roller 800 Green
                        .item-product__footer
                          .item-product__old-price.rub 64 990
                          a.item-product__add(href="#")
                          .item-product__price.rub 64 990
            li
              a(href="#").menu-page__link Баскетбол
            li.menu-page__parent
              a(href="#").menu-page__link Массажные кресла
              .menu-page__submenu.submenu-page
                .submenu-page__item
                  ul.submenu-page__menu
                    li
                      a.submenu-page__link(href="#") Всепогодный
                    li
                      a.submenu-page__link(href="#") Для помещений
                    li
                      a.submenu-page__link(href="#") Профессиональный
                    li
                      a.submenu-page__link(href="#") Любительский
                  .submenu-page__product
                    .item-product
                      .item-product__labels
                        .item-product__label Товар дня
                      a.item-product__image(href="#")
                        img(src="images/products/01.png", alt="Тенисный стол. Зеленый")
                      .item-product__body
                        a.item-product__title(href="#") Домашний теннисный стол Donic Indoor Roller 800 Green
                        .item-product__footer
                          .item-product__old-price.rub 64 990
                          a.item-product__add(href="#")
                          .item-product__price.rub 64 990
            li
              a(href="#").menu-page__link Массажные столы
            li
              a(href="#").menu-page__link Силовые тренажеры
            li
              a(href="#").menu-page__link Батуты
            li
              a(href="#").menu-page__link Детские городки
            li
              a(href="#").menu-page__link Дачная мебель
            li
              a(href="#").menu-page__link Уличные спортивные комплексы
            li
              a(href="#").menu-page__link Аксессуары
    .page__content-side(data-da=".page__content,992,last")
      .page__news-side.news-side
        a(href="#").news-side__title.side-title Новости
        .news-side__items
          .news-side__item
            a(href="#").news-side__label Снижение цен на игровые площадки Jungle Gym
            .news-side__body
              .news-side__data #[span 01] дек
              .news-side__text Уважаемые покупатели! Мы рады сообщить вам о снижении цены с 27 июля на детский игровой комплекс
          .news-side__item
            a(href="#").news-side__label Поступление батутов Eclipse!
            .news-side__body 
              .news-side__data #[span 03] дек
              .news-side__text Уважаемые покупатели! Мы рады сообщить вам о снижении цены с 27 июля на детский игровой комплекс 
      .page__reviews-side.reviews-side
        a(href="#").reviews-side__title.side-title Отзывы 
        .reviews-side__items
          a(href="#").reviews-side__item
            .reviews-side__header
              .reviews-side__user Вася Иванов
              .reviews-side__data 12.04.98
            .reviews-side__body Ради экономии места в тренажерном зале приобрел многофункциональный силовой тренажер Life Gear. За такую небольшую стоимость и с такими возможностями, он просто не заменим. 
          a(href="#").reviews-side__item
            .reviews-side__header
              .reviews-side__user Степан Николаевич
              .reviews-side__data 12.04.98
            .reviews-side__body Ради экономии места в тренажерном зале приобрел многофункциональный силовой тренажер Life Gear. За такую небольшую стоимость и с такими возможностями, он просто не заменим. 
  .page__content
    form.page__search.search-page(action="#" method="method")
      .search-page__select
        .search-page__title 
          span Везде
          span.search-page__quantity(data-text="Выбрано:") 
        .search-page__categories.categories-search
          .categories-search__row
            .categories-search__column
              ul.categories-search__list
                li
                  label.categories-search__checkbox.checkbox
                    input.checkbox__input(type="checkbox")
                    span.checkbox__text
                      span Беговые дорожки
                li
                  label.categories-search__checkbox.checkbox
                    input.checkbox__input(type="checkbox")
                    span.checkbox__text
                      span Эллиптические тренажеры
                li
                  label.categories-search__checkbox.checkbox
                    input.checkbox__input(type="checkbox")
                    span.checkbox__text
                      span Велотренажеры
                li
                  label.categories-search__checkbox.checkbox
                    input.checkbox__input(type="checkbox")
                    span.checkbox__text
                      span Гребные тренажеры
                li
                  label.categories-search__checkbox.checkbox
                    input.checkbox__input(type="checkbox")
                    span.checkbox__text
                      span Вибромассажеры
            .categories-search__column
              ul.categories-search__list
                li
                  label.categories-search__checkbox.checkbox
                    input.checkbox__input(type="checkbox")
                    span.checkbox__text
                      span Беговые дорожки
                li
                  label.categories-search__checkbox.checkbox
                    input.checkbox__input(type="checkbox")
                    span.checkbox__text
                      span Эллиптические тренажеры
                li
                  label.categories-search__checkbox.checkbox
                    input.checkbox__input(type="checkbox")
                    span.checkbox__text
                      span Велотренажеры
                li
                  label.categories-search__checkbox.checkbox
                    input.checkbox__input(type="checkbox")
                    span.checkbox__text
                      span Гребные тренажеры
                li
                  label.categories-search__checkbox.checkbox
                    input.checkbox__input(type="checkbox")
                    span.checkbox__text
                      span Вибромассажеры
            .categories-search__column
              ul.categories-search__list
                li
                  label.categories-search__checkbox.checkbox
                    input.checkbox__input(type="checkbox")
                    span.checkbox__text
                      span Беговые дорожки
                li
                  label.categories-search__checkbox.checkbox
                    input.checkbox__input(type="checkbox")
                    span.checkbox__text
                      span Эллиптические тренажеры
                li
                  label.categories-search__checkbox.checkbox
                    input.checkbox__input(type="checkbox")
                    span.checkbox__text
                      span Велотренажеры
                li
                  label.categories-search__checkbox.checkbox
                    input.checkbox__input(type="checkbox")
                    span.checkbox__text
                      span Гребные тренажеры
                li
                  label.categories-search__checkbox.checkbox
                    input.checkbox__input(type="checkbox")
                    span.checkbox__text
                      span Вибромассажеры
      .search-page__input
        input.input(type="text")
      button.search-page__btn.btn(type="submit") Найти
    nav.breadcrumbs
      ul.breadcrumbs__list
        li
          a(href="index.html").breadcrumbs__link Главная
        li
          span.breadcrumbs__item Оформление
    form(action="#").checkout
      .checkout__title.title-checkout Оформление заказа
      .checkout__content.content-checkout._tabs
        nav.content-checkout__nav
          .content-checkout__item._tabs-item._active(data-tab-name="tab-1")
            span Быстрый заказ
          .content-checkout__item._tabs-item(data-tab-name="tab-2")
            span Курьером по москве и мо
          .content-checkout__item._tabs-item(data-tab-name="tab-3")
            span Доставка в регионы
        .content-checkout__body
          .content-checkout__block._tabs-block.tab-1._active
            .content-checkout__form.form-checkout
              .form-checkout__column
                .form-checkout__line
                  .form-checkout__label Имя: &nbsp;
                    span *
                  .form-checkout__input
                    input(type="text").input._req
                .form-checkout__line
                  .form-checkout__label Моб. телефон:&nbsp;
                    span *
                  .form-checkout__input
                    input(type="text").input._req
                .form-checkout__line
                  .form-checkout__label Ваш E-mail:
                  .form-checkout__input
                    input(type="text").input
                .form-checkout__line
                  .form-checkout__label
                  .form-checkout__input
                    label.checkbox
                      input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1') 
                      span.checkbox__text 
                        span Подписаться на новости и скидки:
              .form-checkout__column
                .form-checkout__text
                  p #[span *] Поля, обязательные для заполнения
                  p Отправка товара производится только после 100% оплаты  товара. Стоимость доставки возможно оплатить при получении заказа.
                  p #[span *] Интернет-магазин не несет ответственности за задержку доставки заказа, связанную с работой курьерских служб DPD и EMS Почты России.          
          .content-checkout__block._tabs-block.tab-2
          .content-checkout__block._tabs-block.tab-3
      .checkout__order.order-checkout
        .order-checkout__title.title-checkout Ваш заказ
        .order-checkout__items
          .order-checkout__item.item-order
            .item-order__content
              a(href="#").item-order__image
                img(src="images/products/02.jpg", alt="alt")
              .item-order__body
                a(href="#").item-order__title #[span BH Fitness F1 G6414V] Беговая дорожка 
                .item-order__price.rub 64 990
            .item-order__quantity
              .quantity
                .quantity__button.quantity__button_minus
                .quantity__input
                  input(type="text" value="1")
                .quantity__button.quantity__button_plus
            .item-order__total
              .item-order__label Всего:
              .item-order__price.rub 64 990
            a(href="#").item-order__delete
          .order-checkout__item.item-order
            .item-order__content
              a(href="#").item-order__image
                img(src="images/products/02.jpg", alt="alt")
              .item-order__body
                a(href="#").item-order__title #[span BH Fitness F1 G6414V] Беговая дорожка 
                .item-order__price.rub 64 990
            .item-order__quantity
              .quantity
                .quantity__button.quantity__button_minus
                .quantity__input
                  input(type="text" value="1")
                .quantity__button.quantity__button_plus
            .item-order__total
              .item-order__label Всего:
              .item-order__price.rub 64 990
            a(href="#").item-order__delete
          .order-checkout__item.item-order
            .item-order__content
              a(href="#").item-order__image
                img(src="images/products/02.jpg", alt="alt")
              .item-order__body
                a(href="#").item-order__title #[span BH Fitness F1 G6414V] Беговая дорожка 
                .item-order__price.rub 64 990
            .item-order__quantity
              .quantity
                .quantity__button.quantity__button_minus
                .quantity__input
                  input(type="text" value="1")
                .quantity__button.quantity__button_plus
            .item-order__total
              .item-order__label Всего:
              .item-order__price.rub 64 990
            a(href="#").item-order__delete
        .order-checkout__footer
          .order-checkout__total Итого:
            span.rub 120 000
          button(type="submit").order-checkout__btn  Оформить заказ
include ../../modules/sections/page-info