h1.page__title Мои работы
article.work
  .work__preview
    img(src="images/work-1.jpg" alt="")
  .work__content
    h2.work__title
      a(href="#" target="_blank") Яндекс
    .work__description
      p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, illo animi, molestias nobis veniam ipsum accusamus, at temporibus doloremque quibusdam tempora eum dignissimos nulla dicta ipsa placeat inventore sint quaerat? Blanditiis architecto corrupti illum animi.
    ul.tags
      li.tags__item дизайн
      li.tags__item создание сайта
      li.tags__item SMM
    a.btn.btn--blue.btn--rounded.btn--sm(href="#" target="_blank") Перейти на сайт
article.work
  .work__preview
    img(src="images/work-2.jpg" alt="")
  .work__content
    h2.work__title
      a(href="#" target="_blank") Яндекс
    .work__description
      p  mque quibusdam tempora eum dignissimos nulla dicta ipsa placeat inventore sint quaerat? Blanditiis architecto corrupti illum animi.
    ul.tags
      li.tags__item дизайн
      li.tags__item создание сайта
      li.tags__item SMM
      li.tags__item дизайн
      li.tags__item создание сайта
      li.tags__item SMM
    a.btn.btn--blue.btn--rounded.btn--sm(href="#" target="_blank") Перейти на сайт