/* Добавление отступа каждому, кроме последнего */
&>* {
  &:not(:last-child) {
    margin-right: 40px;
  }
}

/////////////////////////////////
/* Для png и jpg */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

///////////////////////////////
&>* {
  margin: 10px 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

//////////////////////////////////
.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
  opacity: 1;
}