.footer
  .footer__content._container
    .footer__body
      .footer__column
        .footer__block.block-footer
          .block-footer__column
            a(href="#").logo-footer
              img(src="images/footer-logo.png", alt="alt")
            .block-footer__phones
              p
                a(href="tel:84991234567").block-footer__phone 8-499-123-45-67
              p
                a(href="tel:88001234567").block-footer__phone 8-800-123-45-67
          .block-footer__column
            .block-footer__delivery.delivery-footer
              .delivery-footer__title Доставка транспортными компаниями:
              .delivery-footer__items
                .delivery-footer__item
                  img(src="images/delivery/01.png", alt="alt")
                .delivery-footer__item
                  img(src="images/delivery/02.png", alt="alt")
                .delivery-footer__item
                  img(src="images/delivery/03.png", alt="alt")
                .delivery-footer__item
                  img(src="images/delivery/04.png", alt="alt")
                .delivery-footer__item
                  img(src="images/delivery/05.png", alt="alt")
                .delivery-footer__item
                  img(src="images/delivery/06.png", alt="alt")
        .footer__payments
          img(src="images/icons/payment.png", alt="alt")
      .footer__column
        .footer__widgets.widgets-footer
          .widgets-footer__column
            img(src="images/vk.png", alt="alt")
          .widgets-footer__column
            img(src="images/vk.png", alt="alt")        
    .footer__bottom
      .footer__copy ©2015 Все права защищены.
      .footer__social.social-footer
        a(href="#").social-footer__item
          img(src="images/icons/social/01.png", alt="")
        a(href="#").social-footer__item
          img(src="images/icons/social/02.png", alt="")
        a(href="#").social-footer__item
          img(src="images/icons/social/03.png", alt="")
        a(href="#").social-footer__item
          img(src="images/icons/social/04.png", alt="") 