aside.sidebar
  .sidebar__header
    img(src="images/sidebar-header.jpg" alt="")
  .sidebar__content
    .profile
      img.profile__avatar(src="https://placehold.it/100" alt="")
      .profile__name Вася Иванов
      .profile__prof блог front-end разработчика
      ul.social
        li.social__item
          a.social__link(href="#" target="_blank")
            img(src="images/instagram.svg" alt="Васин инстаграм")
        li.social__item
          a.social__link(href="#" target="_blank")
            img(src="images/vk.svg" alt="Васин vk")
        li.social__item
          a.social__link(href="#" target="_blank")
            img(src="images/pinterest.svg" alt="Васин pinterest")
      .profile__text 
        p Front-end разработчик. Практик верстки сайтов. Созданием сайтов занимаюсь с 2012 года. Работал в нескольких ИТ компаниях и наработал более 10 000 часов в создании сайтов различной сложности.
  .sidebar__footer
    a.btn.btn--red(href="works.html") Мои работы
    button.btn.btn--blue(type="button") Написать мне