section.s-goods
  .container
    .goods
      .goods__item
        .goods__img
          +icon('goods-1', 'goods-icon')
        .goods__descr Виртуальная реальность
      .goods__item
        .goods__img
          +icon('goods-2', 'goods-icon')
        .goods__descr Моноподы для селфи
      .goods__item
        .goods__img
          +icon('goods-3', 'goods-icon')
        .goods__descr Экшн-камеры
      .goods__item
        .goods__img
          +icon('goods-4', 'goods-icon')
        .goods__descr Фитнес-браслеты
      .goods__item
        .goods__img
          img(src="img/goods-5.png").goods__img--5
        .goods__descr Умные часы
      .goods__item
        .goods__img
          img(src="img/goods-6.png").goods__img--6
        .goods__descr Квадрокоптеры
  