section.s-position
  .container
    .position
      .about.position__item
        .about__title.position__title О нас
        p.about__text Огромный выбор гаджетов не оставит равнодушным гика, который есть в каждом из нас.
        p.about__text Мы можем доставить ваш товар в самые отдаленные точки России! DEVICE работает со многими транспортными компаниями:
        ul.about__list
          li.about__list-item Деловые Линии
          li.about__list-item Автотрейдинг
          li.about__list-item ЖелДорЭкспедиция
        a(href="#").about__footer.conditions__title
          span Подробнее о нас
          .yellow-line
      .contacts.position__item
        .contacts__title.position__title Контакты
        p.contacts__text Вы можете забрать товар сами, заехав в наш офис. Заодно, вы сможете проверить работоспособность покупки. Всякое бывает.
        .contacts__map
          iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Af44f67b2f2b36f79ea480e4a420df69176e4e96103d1d8465ef76167b98854d7&amp;source=constructor" width="560" height="222" frameborder="0")
        a(href="#").contacts__footer.conditions__title.write-us
          span Напишите нам
          .yellow-line