.popup.send
  form
    .send__body
      .send__user
        .send__user-group 
          label.send__label Ваше имя
          input(placeholder="Имя Фамилия" type="text" name="name")
        .send__user-group 
          label.send__label Ваш e-mail
          input(placeholder="email@example.com" type="text" name="email")
      .send__letter
        .send__label Текст письма
        textarea(placeholder="В свободной форме")
    .send__btn.conditions__title
      input(type="submit" value="отправить")
      .yellow-line
  .close__btn