.modal
  .modal__content
    button.modal__close(type="button")
      img(src="images/close.svg" alt="Закрыть")
    ul.social
      li.social__item
        a.social__link(href="#" target="_blank")
          img(src="images/share/facebook.svg" alt="")
      li.social__item
        a.social__link(href="#" target="_blank")
          img(src="images/share/twitter.svg" alt="")
      li.social__item
        a.social__link(href="#" target="_blank")
          img(src="images/share/vk.svg" alt="")
      li.social__item
        a.social__link(href="#" target="_blank")
          img(src="images/share/copy.svg" alt="")