extends template/main

block variables
  - var title = 'Главная';
  - var pageClass = 'index-page';

block content
  include pages/index/index-main
  //- include modules/sections/section-1
  //- include modules/sections/section-2
  //- include modules/sections/section-3
  //- include modules/sections/section-4
