extends template/main 

block variables
  - var title = 'device';
  - var pageClass = 'index-page';

block content
  include modules/goods/goods
  include modules/conditions/conditions
  include modules/service/service
  include modules/info/info
  //- include modules/footer/footer
  //- include modules/how/how
  //- include pages/index/popular-categories
  //- include pages/index/advantages
  //- include pages/index/actions
  //- include pages/index/discount
  //- include modules/sales-leaders 
block script 
  // script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")