extends template/main 

block variables
  - var title = 'mavic';
  - var pageClass = 'index-page';

block content
  include modules/sections/section-1
  //- include modules/sections/section-2
  //- include modules/sections/section-3
  //- include modules/sections/section-4
  //- include modules/sections/section-5
  //- include modules/sections/section-6
  //- include modules/work/work
  //- include modules/example/example
  //- include modules/info/info
  //- include modules/footer/footer
  //- include modules/how/how
  //- include pages/index/popular-categories
  //- include pages/index/advantages
  //- include pages/index/actions
  //- include pages/index/discount
  //- include modules/sales-leaders 
block script 
   