header.header
  .container
    .header__inner
      a(href='#').logo
        picture.logo__img
          source(srcset="images/logo-mobile.png" alt=""  media="(max-width: 600px)")
          img(src="images/logo.png" alt="")
      nav.menu
        ul.menu__list
          li.menu__list-item
            a(href="#").menu__list-link О ДРОНЕ
          li.menu__list-item
            a(href="#").menu__list-link ПРЕИМУЩЕСТВА
          li.menu__list-item
            a(href="#").menu__list-link ХАРАКТЕРИСТИКИ
          li.menu__list-item
            a(href="#").menu__list-link ВОПРОСЫ
          li.menu__list-item
            a(href="#").menu__list-link КОНТАКТЫ
      .header__info
        button.header__btn купить
        a(href="tel:80505676767").header__phone 8 (050) 567 67 67