.header
  .header__slider
    .header__slider-item.slider-item
      .slider-item__info
        .slider-item__info-subtitle.subtitle-left Surf
        .slider-item__info-title North Shore
        .slider-item__info-subtext.subtitle-left Condition
        .slider-item__info-text Radical
        a(href="#").slider-item__info-link
          +icon('arrows-right', 'slider-item__icon')
    .header__slider-item.slider-item
      .slider-item__info
        .slider-item__info-subtitle.subtitle-left Surf
        .slider-item__info-title South Shore
        .slider-item__info-subtext.subtitle-left Condition
        .slider-item__info-text Radical
        a(href="#").slider-item__info-link
          +icon('arrows-right', 'slider-item__icon')
    .header__slider-item.slider-item
      .slider-item__info
        .slider-item__info-subtitle.subtitle-left Surf
        .slider-item__info-title West Shore
        .slider-item__info-subtext.subtitle-left Condition
        .slider-item__info-text Radical
        a(href="#").slider-item__info-link
          +icon('arrows-right', 'slider-item__icon')
    .header__slider-item.slider-item
      .slider-item__info
        .slider-item__info-subtitle.subtitle-left Surf
        .slider-item__info-title East Shore
        .slider-item__info-subtext.subtitle-left Condition
        .slider-item__info-text Radical
        a(href="#").slider-item__info-link
          +icon('arrows-right', 'slider-item__icon')