.page__brands.brands-slider
  .brands-slider__container._container
    .brands-slider__body._swiper.swiper-container
      .swiper-wrapper
        .brands-slider__slide.swiper-slide
          img(src="images/brands/01.png", alt="alt")
        .brands-slider__slide.swiper-slide
          img(src="images/brands/01.png", alt="alt")
        .brands-slider__slide.swiper-slide
          img(src="images/brands/02.png", alt="alt")
        .brands-slider__slide.swiper-slide
          img(src="images/brands/01.png", alt="alt")
        .brands-slider__slide.swiper-slide
          img(src="images/brands/01.png", alt="alt")
        .brands-slider__slide.swiper-slide
          img(src="images/brands/02.png", alt="alt")
        .brands-slider__slide.swiper-slide
          img(src="images/brands/01.png", alt="alt")
        .brands-slider__slide.swiper-slide
          img(src="images/brands/01.png", alt="alt")
        .brands-slider__slide.swiper-slide
          img(src="images/brands/01.png", alt="alt")
        .brands-slider__slide.swiper-slide
          img(src="images/brands/01.png", alt="alt")
        .brands-slider__slide.swiper-slide
          img(src="images/brands/01.png", alt="alt")
        .brands-slider__slide.swiper-slide
          img(src="images/brands/01.png", alt="alt")
    .brands-slider__arrows
      .brands-slider__arrow.brands-slider__arrow_prev._arrow._arrow_prev
      .brands-slider__arrow.brands-slider__arrow_next._arrow._arrow_next