.btn {
  position: relative;
  display: inline-block;
  width: 245px;
  background-color: $main-green; 
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  padding: 14px 25px; 
  cursor: pointer;
  border: none;

  &.btn--w-310 {
    width: 310px;

  }
} 