.products-slider {
  &__arrow {
    width: 33px;
    height: 30px;
    background: url("../images/sl-arrow.svg") center no-repeat;
    background-size: cover;
    @media (min-width: $md2+px) {
      &:hover {
        background: url("../images/sr-arrow-hov.svg") 0 0 no-repeat;
      }
    }
  }
  &__arrow-prev {
    @media (min-width: $md2+px) {
      &:hover {
        transform: rotate(180deg); 
      }
    }
  }
  &__arrow-next {
    transform: rotate(180deg);
    @media (min-width: $md2+px) {
      &:hover {
        transform: rotate(0deg); 
      }
    }
  }
  &__info {
  }
}
