.yellow-line {
  position: absolute;
  display: block;
  width: 100%;
  height: 6px;
  background-color: #f0c52e;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  border-top: 1px solid #f4d361;
  border-bottom: 1px solid #f4d361;
  transition: height ease .3s 0s;

  &:hover {
    height: 40px;
  }
}

.info__details {
  &:hover {
    .yellow-line {
      height: 40px;
    }
  }
  &:active {
    span {
      opacity: 0.3;
    }
  }
}

.conditions__list-item {
  &:hover {
    .yellow-line {
      height: 40px;
    }
  }
}
.conditions__title {
  &:hover {
    .yellow-line {
      height: 40px;
    }
  }
}