section.s-servises
  .container
    .servises
      .servises__item
        img(src = "img/service-logo-1.jpg" alt="Доставка dji")
      .servises__item
        img(src = "img/service-logo-2.jpg" alt="Доставка dji")
      .servises__item
        img(src = "img/service-logo-3.jpg" alt="Доставка dji")
      .servises__item
        img(src = "img/service-logo-4.jpg" alt="Доставка dji")