.s-goods {
  margin-bottom: 140px;
}
.goods {
  display: flex;
  justify-content: space-between;
  // overflow: hidden;

  &__img {
    width: 160px;
    height: 160px;
    flex: 1 1 160px;
    background-color: #f7e296;
    margin-bottom: 38px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    &--5 {
      width: 56px;
      height: 98px;
    }
  }

  &__descr {
    max-width: 160px;
    font-family: "gilroy-extrabold";
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.18px;
  }
}

.icon-goods {
  &-1 {
    width: 97px;
    height: 55px;
  }

  &-2 {
    width: 86px;
    height: 117px;
  }

  &-3 {
    width: 71px;
    height: 87px;
  }

  &-4 {
    width: 107px;
    height: 65px;
  }
}