.post {
  background-color: $primary;
  box-shadow: 0 15px 25px 0 rgba($black, 0.35);
  margin-bottom: 3rem;
  padding: 2.5rem;
  border-radius: 5px;
  overflow: hidden;
}

.post__actions {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  // color: rgba($white, 0.6);
  a {
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
  &-icon {
    display: inline-block;
    margin-left: 1rem;
  }
}

.post__footer {
  display: flex;
  align-items: center;
}

.post__content {
  margin-bottom: 2rem;
}
.post__data {
  display: flex;
  color: #828282;
  line-height: 1.2;
}

.post__data-item {
  display: flex;
  align-items: center;
  &:not(:last-child):after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 1.5rem;
    border-radius: 50%;
    background: #c4c4c4;
  }
}

.post__description {
  font-size: 1.4rem;
  color: #d2d2d2;
}
.post__header {
  // margin: -2.5rem -2.5rem 2.5rem;
  margin: 0 0 2.5rem 0;
  &.post__header--preview {
    margin: -2.5rem -2.5rem 2.5rem;
    // max-width: 100%;
  }
}

.post__read {
  font-size: 1.4rem;
  color: #107eff;
  margin-left: auto;
  &:hover {
    color: #107eff;
  }
}

.post__subtitle {
  font-size: 1.6rem;
  color: $white;
  font-weight: 500;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.post__title {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: $white;
  font-weight: 500;

  &--mb0 {
    margin-bottom: 0;
  }
}

.post__text {
  font-size: 1.4rem;
  color: $white;
  margin-bottom: 1rem;
  border-bottom: 1px solid #1c1c1c;

  .fr-video {
    margin-bottom: 2.5rem;
  }

  p {
    margin-bottom: 2rem;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 1.15em;
  }
  h5,
  h6 {
    font-size: 1em;
  }

  ul,
  ol {
    margin-bottom: 2rem;
  }

  ol {
    padding-left: 1.5rem;
    li {
      list-style: decimal;
    }
  }

  table {
    margin-bottom: 2rem;
    width: 100%;
  }
}
