// Основные стили 
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}

body {
  @extend %ubuntu-light;
  font-size: 17px;
  line-height: 26px;
  color: #fff;
  background-color: #ccc;
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  // outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

//////////////Стили проекта/////////////////
.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.page-section {
  
  background-image: url('../images/page-bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(119.35deg, rgba(23, 26, 28, 0.72) 0%, #5E5E57 100%);
    opacity: 0.15;
  }

  &__wrapper {
    z-index: 1;
    position: relative;
    padding: 74px 0 50px;
    min-height: 100vh;
  }
}

.title {
  font-size: 44px;
  @extend %sf-regular;
  line-height: 53px;
  padding-left: 25px;
  margin-bottom: 55px;
  padding-top: 200px;

}

.scroll__btn {
  padding: 13px 0 30px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

