// Main
$content-size: 1240px;
$tablet-size: 768px;
$phone-size: 576px;

///////////////////////////////////////////////////////////

//Colors
$black: #000000;
$blue:#3137C9;
$primary:#202020;
$red:#ED3024;
$secondary:#121212; 
$white:#fff;

//z-index
$z-index-sidebar: 1000;
$z-index-header: 1000;
$z-index-modal: 1010;

$sidebar-width: 300px;

////////////Fonts///////////////
%ubuntu-light {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
%ubuntu-regular {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}
%ubuntu-medium {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}
%ubuntu-bold {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}
%sf-regular {
  font-family: "SFProDisplay-Regular", sans-serif;
  font-weight: 400;
}
%sf-semibold {
  font-family: "SFProDisplay-Semibold", sans-serif;
  font-weight: 600;
}
%os-regular {
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 600;
}
// $regular-font: 'SFProDisplay-Regular' ;
$regular-font: 'SFProDisplay-Regular' ;
// @boldest-font: 'source_sans_problack', Arial, sans-serif;
// @medium-font: 'source_sans_prosemibold', Arial, sans-serif;
$bold-font: 'SFProDisplay-Bold', Arial, sans-serif;
// @base-font-size: 16px;
// @fontRegular: 'OpenSans'; 
// @fontBold: '@{fontRegular}-Bold'; 
/////////////////////////////////////////////////////////////////////// 