form(action="#").filter
  .filter__title Фильтр товаров
  .filter__content
    .filter__body._spollers
      .filter__section.section-filter
        .section-filter__title Цена (руб.):
        .section-filter__body
          .price-filter
            .price-filter__slider
            .price-filter__values.values-price-filter
              .values-price-filter__column
                .values-price-filter__label от
                .values-price-filter__input
                  input.input(type="text" id="price-start")
              .values-price-filter__column
                .values-price-filter__label до
                .values-price-filter__input
                  input.input(type="text" id="price-end")
      .filter__section.section-filter
        .section-filter__title Товары для сравнения
        .section-filter__body
          .compare-filter
            .compare-filter__items
              .compare-filter__item
                a(href="#").compare-filter__link NordicTrack C100
                a(href="#").compare-filter__remove
              .compare-filter__item
                a(href="#").compare-filter__link Clear Fit Luxury LT.20
                a(href="#").compare-filter__remove
              .compare-filter__item
                a(href="#").compare-filter__link ATM 720 TFT+
                a(href="#").compare-filter__remove
            .compare-filter__footer
              a(href="#").compare-filter__button
                span Сравнить
              a(href="#").compare-filter__clean
      .filter__section.section-filter
        .section-filter__title._spoller Производитель:
        .section-filter__body
          label.section-filter__checkbox.checkbox
            input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
            span.checkbox__text
              span Сlear-fit
          label.section-filter__checkbox.checkbox
            input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
            span.checkbox__text
              span Diadora
          label.section-filter__checkbox.checkbox
            input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
            span.checkbox__text
              span Hasttings
          label.section-filter__checkbox.checkbox
            input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
            span.checkbox__text
              span Carbon-fitness
          label.section-filter__checkbox.checkbox
            input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
            span.checkbox__text
              span Nordic Track
      .filter__section.section-filter
        .section-filter__title._spoller Мощность двигателя:
        .section-filter__body
          label.section-filter__checkbox.checkbox
            input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
            span.checkbox__text
              span 12
          label.section-filter__checkbox.checkbox
            input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
            span.checkbox__text
              span 14
          label.section-filter__checkbox.checkbox
            input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
            span.checkbox__text
              span 16
          label.section-filter__checkbox.checkbox
            input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
            span.checkbox__text
              span 18
          label.section-filter__checkbox.checkbox
            input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
            span.checkbox__text
              span 20
      .filter__section.section-filter
        .section-filter__title._spoller Размер бегового полотна:
        .section-filter__body
          label.section-filter__checkbox.checkbox
            input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
            span.checkbox__text
              span 12
          label.section-filter__checkbox.checkbox
            input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
            span.checkbox__text
              span 14
          label.section-filter__checkbox.checkbox
            input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
            span.checkbox__text
              span 16
          label.section-filter__checkbox.checkbox
            input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
            span.checkbox__text
              span 18
          label.section-filter__checkbox.checkbox
            input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
            span.checkbox__text
              span 20
      .filter__section.section-filter
        .section-filter__title._spoller Вес пользователя (макс.):
        .section-filter__body
          label.section-filter__checkbox.checkbox
            input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
            span.checkbox__text
              span 12
          label.section-filter__checkbox.checkbox
            input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
            span.checkbox__text
              span 14
          label.section-filter__checkbox.checkbox
            input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
            span.checkbox__text
              span 16
          label.section-filter__checkbox.checkbox
            input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
            span.checkbox__text
              span 18
          label.section-filter__checkbox.checkbox
            input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
            span.checkbox__text
              span 20
      .filter__section.section-filter
        .section-filter__title._spoller Скорость (макс.):
        .section-filter__body
          label.section-filter__checkbox.checkbox
            input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
            span.checkbox__text
              span 12
          label.section-filter__checkbox.checkbox
            input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
            span.checkbox__text
              span 14
          label.section-filter__checkbox.checkbox
            input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
            span.checkbox__text
              span 16
          label.section-filter__checkbox.checkbox
            input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
            span.checkbox__text
              span 18
          label.section-filter__checkbox.checkbox
            input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
            span.checkbox__text
              span 20
      .filter__section.section-filter
        .section-filter__title Угол наклона:
        .section-filter__body
          label.section-filter__checkbox.checkbox
            input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
            span.checkbox__text
              span нет регулировки
          label.section-filter__checkbox.checkbox
            input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
            span.checkbox__text
              span механическая
          label.section-filter__checkbox.checkbox
            input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
            span.checkbox__text
              span электронная
    .filter__footer
      button.btn.filter__btn(type='submit') Подобрать
      button.btn.filter__btn.btn_grey(type='reset') Сбросить



