.page__info-menu.info-menu
  .info-menu__container._container
    .info-menu__body
      .info-menu__line
        .info-menu__label Информация:
        ul.info-menu__list
          li
            a(href="#").info-menu__link Бренды
          li
            a(href="#").info-menu__link Доставка
          li
            a(href="#").info-menu__link Распродажа
          li
            a(href="#").info-menu__link Контакты
          li
            a(href="#").info-menu__link Отзывы
      .info-menu__line
        .info-menu__label Помощь:
        ul.info-menu__list
          li
            a(href="#").info-menu__link Как заказать
          li
            a(href="#").info-menu__link Доставка
          li
            a(href="#").info-menu__link Оплата
          li
            a(href="#").info-menu__link Гарантия и сборка
          li
            a(href="#").info-menu__link Возврат